---
import BaseLayout from './BaseLayout.astro';
import Header from '../components/layout/Header.astro';
import Footer from '../components/layout/Footer.astro';
import '../styles/global.css';

export interface Props {
  title: string;
  description?: string;
  image?: string;
  noIndex?: boolean;
}

const props = Astro.props;
---

<BaseLayout {...props}>
  <Header />
  <main>
    <slot />
  </main>
  <Footer />
</BaseLayout>
